In [ ]:
================== Basic Python ==============================
- Variables

- Data types

- Type conversion

- Print

- eval and input

- Basic codes

- Packages

- conditional statements

- try and except

- functions

- for loop

- while loop

=================== Intermediate python =======================
- Strings

- Lists

- List Comprhension

- Tuple ====== > You should

- Sets  ====== > You should

- Dictionary

- Lambda functions

- File handling

============ OOPS Concepts ================= (ML)

- Basic representations

- Inbuilt functions

    - print

    - type

    - len

    - sum

    - max

    - min

    - sorted

    - reveresed

- concatenation

- indexing

- mutable or immutable concept

- slice

- methods

**Basic Representations**

In [1]:
name='python'
name

'python'

In [2]:
print(name)

python

In [3]:
name="python"
name

'python'

- python by defualt gives output in **single quotes**

- when we print the string the output display **without quotes**

In [5]:
str1="I love 'Python'"
print(str1)

I love 'Python'

In [6]:
str2='I love "Python"'
print(str2)

I love "Python"

**Doc string**

- triple quotes also called as doc string

- triple quotes means the user try to convey some information

**type**

In [7]:
name='python'
type(name)

str

In [ ]:
print(<>)
type(<>)
eval(<>)
input()
len()
sum()
max()

**len**

In [8]:
name='python'
len(name)

6

In [9]:
len('hai how are you')

15

**max**

In [10]:
max('python')

'y'

In [11]:
for i in 'python':
    print(ord(i),i)

112 p
121 y
116 t
104 h
111 o
110 n

**min**

In [12]:
min('python')

'h'

**sum**

In [13]:
sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**sorted**

- sorted means either ascending or descending order

- ascending order : Small to Big

- descending : Big to Small

In [16]:
sorted('python')
# By default ascending
# can i change the order?

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
**iterable**: Anything that can be print using loop

/

In [21]:
def add(a,b):
    print(a+b)
add(10,20)  ############# Works

30

In [22]:
def add(a,b):
    print(a+b)
add(a=10,b=20) ########## Works

30

In [23]:
def add(a,/,b):
    print(a+b)
add(a=10,b=20)   /

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

In [24]:
def add(a,/,b):
    print(a+b)
add(10,b=20)

30

In [25]:
def add(a,/,b):
    print(a+b)
add(a=10,20)

SyntaxError: positional argument follows keyword argument (3787002837.py, line 3)

In [ ]:
a,/,b
a=10 b=10  ==== fail
a=10 30   ==== fail
10  b=30     === pass

In [ ]:
def add(a,b):
    print(a+b)
add(10,20)  ############### Works

def add(a,b):
    print(a+b)
add(a=10,b=20) ########## Works

def add(a,/,b):
    print(a+b)
add(a=10,b=20)   ########### F F  / a=10  b=20

def add(a,/,b):
    print(a+b)
add(10,b=20)  ##########  Pass    b=20

def add(a,/,b):
    print(a+b)
add(a=10,20) ====== slash before not working

In [ ]:
(a,/,b)
a=10  b=20  ===== > F
a=10  20    ===== > F
10    20   ===== > W
10   b=20  ===== > W

In [26]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

**Note:** 

- / before dont use argument name

- / after you can use argument name, that is our wish

- (*) indicates no need maintain the order of the arguments

In [28]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,c=20,b=30)

60

In [29]:
add(10,c=20)

TypeError: add() missing 1 required keyword-only argument: 'b'

In [30]:
add(10,20)

TypeError: add() takes 1 positional argument but 2 were given

In [31]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,20,30)

TypeError: add() takes 1 positional argument but 3 were given

**Note**

(*) indicates provide the argument name

In [33]:
sorted('python',True)

# / before dont use ==== correct
# * after you should use === wrong

TypeError: sorted expected 1 argument, got 2

In [34]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
sorted('python')  # w  by default reverse=False
sorted(iterable='python') # F
sorted('python',reverse=True) # W
sorted(iterable='python',reverse=True) # F
sorted('python',True) # F

**reveresd**

In [35]:
reversed(sequence='prashanth')

TypeError: reversed() takes no keyword arguments

In [37]:
ans=reversed('prashanth')
ans

- Answer saved at address memory location

- we can see the answer by using for loop or list

- whenever we see less than greater than symbol answer

- try to apply for loop or list

In [38]:
for i in ans:
    print(i)

h
t
n
a
h
s
a
r
p

In [40]:
ans=reversed('prashanth')
list(ans)

['h', 't', 'n', 'a', 'h', 's', 'a', 'r', 'p']

**Concatenation**

In [41]:
str1='hello'
str2='python'
str1+str2

'hellopython'

In [ ]:
str1-str2  # see the error
str1*str2  # see the error
str1/str2  # see the error

In [42]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
str1-str2:
TypeError: unsupported operand type(s) for -: 'str' and 'str'

str1/str2:
TypeError: unsupported operand type(s) for /: 'str' and 'str'

str1(sequence)*3:
TypeError: can't multiply sequence by non-int of type 'str'

In [45]:
'python'*3

'pythonpythonpython'

In [47]:
str1='hello '
str2='python'
str1+str2

'hello python'

In [48]:
str1='hello'
str2=' python'
str1+str2

'hello python'

In [49]:
str1='hello'
str2='python'
str1+' '+str2

'hello python'

In [ ]:
- Basic represenations

- min max len

- sorted  

- reveresd

- concatenation

In [ ]:
# every day after the class till 12 you need to be in Lab
# 140Python book also
# 5qns you need 
# whatsapp group online and offline

**index**

In [1]:
str1='python'
str1

'python'

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t  h  o  n
0  1  2  3  4  5

- access the charcters or elements use square bracket

In [8]:
str1[0],str1[-6]
str1[1],str1[-5]
str1[2],str1[-4]
str1[3],str1[-3]
str1[4],str1[-2]
str1[5],str1[-1]

('n', 'n')

In [ ]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

str1[i]

In [9]:
str1='python'
n=len(str1)
for i in range(0,n):
    print(str1[i])

p
y
t
h
o
n

In [10]:
str1='hello how are you'
n=len(str1)
for i in range(0,n):
    print(str1[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [ ]:
# Q1)
# the postive index of p is 0
# the postive index of y is 1
# the postive index of n is 2

# Q2)
# the negative index of p is -6
# the negative index of y is -5
# the negative index of n is -4 and so on

# Q3)
# The postvive index is 0 and negtaive index is -6 for p

In [12]:
# Q1) first you need to print the numbers

#-6 -5 -4 -3 -2 -1
#p  y  t  h  o  n
#0  1  2  3  4  5
for i in range(0,6):print(i,end=' ')
for i in range(-6,0):print(i,end=' ')

0 1 2 3 4 5 -6 -5 -4 -3 -2 -1

In [16]:
str1='python'
n=len(str1)
for i in range(0,n):
    print(f'the postive index of {str1[i]} is {i}')

the postive index of p is 0
the postive index of y is 1
the postive index of t is 2
the postive index of h is 3
the postive index of o is 4
the postive index of n is 5

In [17]:
str1='python'
n=len(str1)
for i in range(-6,0):
    print(i)

-6
-5
-4
-3
-2
-1

In [19]:
for i in range(0,6):  postive
for i in range(-6,0)  nega
for i in range(-6,6)

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [24]:
for i in range(0,6):
    print(i,i-6)
    print(f'the postive index is {i},neagtive index is {i-6} for : {str1[i]}')
    print(f'the postive index is {i} for: {str1[i]}')
    print(f'the negative index is {i-6} for: {str1[i]}')

0 -6
the postive index is 0,neagtive index is -6 for : p
the postive index is 0 for: p
the negative index is -6 for: p
1 -5
the postive index is 1,neagtive index is -5 for : y
the postive index is 1 for: y
the negative index is -5 for: y
2 -4
the postive index is 2,neagtive index is -4 for : t
the postive index is 2 for: t
the negative index is -4 for: t
3 -3
the postive index is 3,neagtive index is -3 for : h
the postive index is 3 for: h
the negative index is -3 for: h
4 -2
the postive index is 4,neagtive index is -2 for : o
the postive index is 4 for: o
the negative index is -2 for: o
5 -1
the postive index is 5,neagtive index is -1 for : n
the postive index is 5 for: n
the negative index is -1 for: n

**when to use **in** - When to use **range** opeartor**

- **in** operator directly access the elements

- **range** opeartor access the elements using index or numbers

- any problem statement if you need numbers then go for range

- otherwise go for in opeartor directly

In [26]:
str1='python'
for i in str1:
    print(i)

for i in range(0,6):
    print(i,str1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
# Q4) write a progarm to find the indexes of 'a' in a given string
#     str1='ola ola ola'

# Q5) write a program to find the sum of all indexes of 'a' in a given string
#    str1='ola ola ola'

# Q6) write a progarm to find the number of 'a' in a given string
#    str1='ola ola ola'

# Q7) write a progarm to find the vowels and its count in a given string
#    str1='hai how are you'

# Q8) write a progarm to find the vowels which are repaeting then print only 
#     one time 
#     example: helleo  
#      e is coming two times but we want to print only one time

In [30]:
# Q4) write a progarm to find the indexes of 'a' in a given string
#     str1='ola ola ola'
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

2
6
10

In [31]:
# Q5) write a progarm to find the indexes of 'a' in a given string
#     str1='ola ola ola'
str1='ola ola ola'
summ=0
count=0
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)
        summ=summ+i
        count=count+1

print('the number of a are:',count)
print('the sum of indexes are:',summ)

2
6
10
the number of a are: 3
the sum of indexes are: 18

In [32]:
# Q6) write a progarm to find the number of 'a' in a given string
#    str1='ola ola ola'
# in this problem we are counting number of 'a'
# we are not using index
count=0
for i in str1:
    if i=='a':
        count=count+1

In [34]:
# Q7) write a progarm to find the vowels and its count in a given string
#    str1='hai how are you'
str1='hai how are you'
s1='aeiou'
count=0
for i in str1:
    if i in s1:
        print(i)
        count=count+1
print(count)

a
i
o
a
e
o
u
7

In [35]:
# Q8)
str1='aaae' #  'ae'
s1=''
for i in str1:
    if i in 'aeiou' and i not in s1:
        print(i)
        s1=s1+i

# i=a  if  a in aeiou  Tr  print a
# i=a  say i alreday seen

a
e

In [36]:
'nidi'+'nidi'

'nidinidi'

**mutable-immutable**

- mutable means change

- immutable means can not change

- we can not change the elements using index operations

In [38]:
str1='hello'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [41]:
l=[10,20,30]
l[1]=200
l

[10, 200, 30]

**slice**

- slice means cut into pieces

- it has similar analogy with for loop range

- in the for loop range we have start,stop,step

- range(start,stop,step)  str[start:stop:step]

In [ ]:
-17   -16   -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
 h      e    l    l     o         h   o    w       a   r   e       y   o   u
 0      1    2    3     4   5     6   7    8   9   10  11  12  13  14  15  16

$case-1$

**str[:stop]**

- by default start=0

- by default step = postive direction 1

- last=stop-1

In [1]:
str1='hello how are you'
str1[:5]
# start=0  step =1  stop=5-1=4

'hello'

$case-2$

**str[start:]**

- by default start= start value

- by default step = postive direction 1

- last= last index

In [4]:
str1[-3:]

'you'

$case-3$

**str[start:stop]**

- by default start= start value

- by default step = postive direction 1

- last= stop-1

In [5]:
# -17   -16   -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#  h      e    l    l     o         h   o    w       a   r   e       y   o   u
#  0      1    2    3     4   5     6   7    8   9   10  11  12  13  14  15  16

str1[10:15]  # start=10  dire postive step 1 last 15-1=14

'are y'

In [6]:
str1[-15:10]

'llo how '

In [7]:
str1[-10:2]

''

In [8]:
str1[2:-2]

'llo how are y'

In [9]:
for i in range(2,-2):
    print(i)    #  real line

$case-4$

**str[start:stop:step]**

- by default start= start value

- if step is postive value

    - last= stop-1

- if step is negative value

    - last = stop+1

In [10]:
# -17   -16   -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#  h      e    l    l     o         h   o    w       a   r   e       y   o   u
#  0      1    2    3     4   5     6   7    8   9   10  11  12  13  14  15  16

str1[2:15:2]  # start=2 dire=+  step=2  last=15-1=14

'lohwaey'

In [15]:
str1[2:-5:2]

'lohwa'

In [12]:
str1[15:2:2]

''

In [17]:
# -17   -16   -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#  h      e    l    l     o         h   o    w       a   r   e       y   o   u
#  0      1    2    3     4   5     6   7    8   9   10  11  12  13  14  15  16

In [19]:
str1[2:150]

'llo how are you'

In [20]:
str1[:]

'hello how are you'

In [21]:
str1[::]

'hello how are you'

In [22]:
str1[::-1]

'uoy era woh olleh'

In [25]:
num=12345
int(str(num)[::-1])

54321

In [29]:
str1[2:15:4]

'lhay'

In [ ]:
- basic representations

- inbuilt functions

    - min max len type sum reveresed sorted

- concatenation

- index

- in vs range

- mutable vs immutable

- slice

## Methods

In [34]:
name='python'
dir(name)  # dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**upper**

In [38]:
str1='welcome to nareshit'  
str1.upper()

'WELCOME TO NARESHIT'

In [35]:
- lower

- title

- capitalize

- casefold

In [39]:
str1='WELCOME to Naresh IT'  
str1.lower()

'welcome to naresh it'

In [40]:
str1='WELCOME to Naresh IT'  
str1.casefold()

'welcome to naresh it'

In [41]:
str1='welcome to nareshit'  
str1.title()

'Welcome To Nareshit'

In [42]:
str1='welcome to nareshit'  
str1.capitalize()

'Welcome to nareshit'

In [ ]:
str1.upper()
str1.lower()
str1.title()
str1.capitalize()
str1.casefold()

**difference between metods and inbulilt functions**

In [ ]:
########## Inbuilt =======================
len('python') 
max()
min()
type()
print()
sum()
##################################
str1.upper()
str1.lower()
str1.title()
str1.capitalize()
str1.casefold()

**center**

In [50]:
str1='pythonn' # 7 5
str1.center(12,'*')

# 3starts + python(6)+ 4*
# 4* + 6 +3*
# here 12 means the len of string becomes 12 charcters
# alreday 'pythonn' string has 7 charcters
# so remaining 5 charcters padd as *

'**pythonn***'

In [ ]:
# assume that i alreday have
# string='***python'

**strip-lstrip-rstrip**

- strip will remove the charcters both left and right side

- lstrip will remove the charcters on left side

- rstrip will remove the charcters on right side

In [53]:
str1=' python '
str2='***python****'
str3='   python****'

In [57]:
str1,str1.strip(),str1.lstrip(),str1.rstrip()

(' python ', 'python', 'python ', ' python')

In [61]:
print(str1) 
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

 python
python
python
 python

In [62]:
str2,str2.strip('*'),str2.lstrip('*'),str2.rstrip('*')

('***python****', 'python', 'python****', '***python')

In [63]:
str2.strip()

'***python****'

In [67]:
str3='   python****'
str4=str3.strip()
str4.rstrip('*')

'python'

In [74]:
str3='++++python****'
str3.lstrip('+').rstrip('*')

'python'

In [ ]:
- upper

- lower

- title

- capitalize

- casefold

- center

- rstrip 

- lstrip

- strip

- startswith 

- endswith