## List comprehension

- List comprehension a way to write list operations in a single line

- when we apply for loop and if-else conditional statements then the code compilation
  becomes slow

- which means it takes much time 

- in order to avoid the time complexity we will use list comprehension

- List comprehension is a single line code

**Case-1: Only for loop**

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here>]
# inside code no need of append
list1=[<output var> <for loop>]

In [2]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**dont give : after for loop**

In [ ]:
# Q1) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q2) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

# Q3) input=['hyd','bengaluru','pune','mumbai']
#     multiply the indexes with 10

# Q4) input=['hyd','bengaluru','pune','mumbai']
#     calculate the sum of the indexs

# Q5) Sum of first 10 natural numbers answer save in a list

In [3]:
# Q1) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']
input=['hyd','bengaluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [4]:
input=['hyd','bengaluru','pune','mumbai']
output=[i.capitalize() for i in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [5]:
# Q2) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']
input=['hyd','bengaluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.upper())
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [6]:
input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [10]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     multiply the indexes with 10

# idea : get the indexes list first
#       then multiply with 10

input=['hyd','bengaluru','pune','mumbai']
# for i in input:
#     print(input.index(i)*10)

[input.index(i)*10 for i in ['hyd','bengaluru','pune','mumbai']]
[input.index(i)*10 for i in input]

[0, 10, 20, 30]

In [12]:
# Q4) input=['hyd','bengaluru','pune','mumbai']
#     calculate the sum of the indexs
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
sum(output)

60

In [13]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

**walrus operator**

In [20]:
summ=0
# for i in range(1,11):
#     summ=summ+i
[summ:=summ+i for i in range(1,11)]
summ

55

**Case-2: for loop if condition**

In [25]:
# even number
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even:{i}')
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [ ]:
[<output> <if condtiton> <forloop>] --- not working
[<output> <forloop> <if condtiton>] --- working

In [26]:
[f'even:{i}' for i in range(1,10) if i%2==0]

['even:2', 'even:4', 'even:6', 'even:8']

In [ ]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

# Q7) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

In [28]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']
input=['hyd','ben#galuru','pune','mu#mbai']
output=[]
for i in input:
    if '#' in i:
        output.append(i)
output

['ben#galuru', 'mu#mbai']

In [29]:
input=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input if '#' in i]
output

['ben#galuru', 'mu#mbai']

In [31]:
# Q7) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]
input=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input if '#' not in i]
output

['hyd', 'pune']

**case-3:for-if-else**

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if condi>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]

In [33]:
# even number
# list1=[]
# for i in range(1,10):
#     if i%2==0:
#         list1.append(f'even:{i}')
#     else:
#         list1.append(f'odd:{i}')
# list1

[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

**case-4: for-if-elif-else**

- in List Comprehension we dont have **elif** representation

- elif also represent as **else+if**

- in elif we have **elif condition** and **elif output**

- else elif_output elif_condition

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if condi>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]
case-4: for-if-elif-else:

[<if out> <if cond> else <elif out> <elif cond> else <else out> <for loop>]

**Note**: instead of elif term write if

In [35]:
# >85 A grade  60-85 B grade  less than 60 C grade
l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i}: A grade')
    elif i>60:
        print(f'{i}: B grade')
    else:
        print(f'{i}: C grade')

45: C grade
55: C grade
65: B grade
75: B grade
85: B grade
95: A grade

In [41]:
#[<if out> <if cond> else <elif out> <elif cond> else <else out> <for loop>]
[f'{i}: A grade' if i>85 \
 else 
 f'{i}: B grade' if i>60 \
 else f'{i}: C grade' \
 for i in l]

['45: C grade',
 '55: C grade',
 '65: B grade',
 '75: B grade',
 '85: B grade',
 '95: A grade']

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if condi>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]
case-4: for-if-elif-else:

[<if out> <if cond> else <elif out> <elif cond> else <else out> <for loop>]

**screening paper question**

In [1]:
marks=[45,76,89,53,67,90,82,49,33,99]

In [5]:
# Q1) Filter the students who passes marks>=50
# for i in marks:
#     if i>=50:
#         print(marks.index(i))

[i for i in marks if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [6]:
# Q2) calculate grades of all students
# A: 85+   B: 70-84  C: 50-69 F< 50
for i in marks:
    if i>=85:
        print(f'{i}:A')
    elif i>=70:
        print(f'{i}:B')
    elif i>=50:
        print(f'{i}:C')
    else:
        print(f'{i}:F')

45:F
76:B
89:A
53:C
67:C
90:A
82:B
49:F
33:F
99:A

In [7]:
marks = [45,76,89,53,67,90,82,49,33,99]
grades_list = [f"Marks = {i} : A grade." if i>=85 else f"Marks = {i} : B grade." if i>=70 else f"Marks = {i} : C grade." if i>=50 else f"Marks = {i} : F grade." for i in marks]
print(grades_list)

['Marks = 45 : F grade.', 'Marks = 76 : B grade.', 'Marks = 89 : A grade.', 'Marks = 53 : C grade.', 'Marks = 67 : C grade.', 'Marks = 90 : A grade.', 'Marks = 82 : B grade.', 'Marks = 49 : F grade.', 'Marks = 33 : F grade.', 'Marks = 99 : A grade.']

In [8]:
[f"Marks = {i} : A grade." if i>=85
else f"Marks = {i} : B grade." if i>=70
else f"Marks = {i} : C grade." if i>=50
else f"Marks = {i} : F grade."
for i in marks]

['Marks = 45 : F grade.',
 'Marks = 76 : B grade.',
 'Marks = 89 : A grade.',
 'Marks = 53 : C grade.',
 'Marks = 67 : C grade.',
 'Marks = 90 : A grade.',
 'Marks = 82 : B grade.',
 'Marks = 49 : F grade.',
 'Marks = 33 : F grade.',
 'Marks = 99 : A grade.']

In [11]:
# Q3) Add 5 marks grace to failed

# for i in marks:
#     if i<50:
#         print(i+5)
[i+5 for i in marks if i<50]

[50, 54, 38]

In [12]:
# Q4) top 5
marks
# with out using sorted or sort method sort all the values

[45, 76, 89, 53, 67, 90, 82, 49, 33, 99]

In [13]:
marks = [45,76,89,53,67,90,82,49,33,99]
top_3 = [(max_val:= max(marks), marks.remove(max_val))[0] for i in range(3)]
print(top_3)

[99, 90, 89]

In [14]:
marks = [45,76,89,53,67,90,82,49,33,99]
max(marks)

99

In [19]:
marks = [45,76,89,53,67,90,82,49,33,99]
max_val=max(marks) # 99
for i in range(3):
    max_val=max(marks) # 99 90 89
    print(max_val)     # 99 90 89
    marks.remove(max_val) ## 99 gone 90 89

99
90
89

In [21]:
# Find the avergae marks

summ=0
marks = [45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [ ]:
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
# find the distance between l2 with all other points from l1
# which is the maximum distance give me that

<img id="dimg_UXypZ974O5KPseMPhf6eoA4_291" src="" class="YQ4gaf" height="162" style="object-position:71% 75%" width="311" alt="Calculate Euclidean distance in Python ..." data-csiid="UXypZ974O5KPseMPhf6eoA4_22" data-atf="1">

In [30]:
import math
l1=[10,20]  # [x1,y1]
l2=[30,40]  # [x2,y2]
##########################################
d1=l2[0]-l1[0] # (x2-x1)^2= 30-10=20
d1_square=math.pow(d1,2)
d1_square
#######################################
d2=l2[1]-l1[1] # (y2-y1)^2= 40-20=20
d2_square=math.pow(d2,2)
d2_square
######################################
summ=d1_square+d2_square
##########################################
math.sqrt(summ)

In [31]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

22.360679774997898

In [29]:
import math
l1 = [10, 20]
l2 = [20, 40]
co_diff = 0
for j in range(len(l2)):
    co_diff += pow(l2[j] - l1[j], 2)
    print(pow(l2[j] - l1[j], 2))
    print(co_diff)

output = math.sqrt(co_diff)
output

100
400

0.0

In [ ]:
# how to sort the list
# how to find the maximum value of the list
# how to find the minimum value of the list
# how to find the second maximum value of the list
# how to find the second minimum value of the list
# how to find the longest word of a string
# how to find the most repeated word of a string

[10,20,30,35,120,500,490,320,240,120]