In [1]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'

In [2]:
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**zip**

In [6]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [9]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(j)

20
25
30

In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]

**Dictionary**

- in above example names and age both are together

- when both are together we can pair them

- This can happen using Dictionary

- Dictionary is calles as **key-value** pair

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair : {'Ramesh':20}

In [11]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [12]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [27]:
# start your imaginzation make a dictionary with many ways
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d3={'Ramesh':'20','Suresh':'25','Sathish':30}
d4={'20':'Ramesh','25':'Suresh',30:'Sathish'}
d5={'Ramesh':20,'Ramesh':30}
# If both keys are same it will take the latest value
# Dictionarys kind database
d6={'Ramesh':20,'Ramesh':20}
# Dictionarys does not allow duplicates
d7={'Ramesh':20,'Suresh':20}
# In dictionary keys pays vital rols
# keys can not be duplicate but values can be duplicate
d8={20:'Ramesh',20:'Suresh'}
d9={True:'true'}
d10={'fruites':['Apple','Banana']} # list is value
#d11={['Apple','Banana']:'fruites'} # list is key
d12={'fruites':('Apple','Banana')} # list is value
d13={('Apple','Banana'):'fruites'} # list is key
d14={'Fruites':{'Apple':20}}

{('Apple', 'Banana'): 'fruites'}

In [ ]:
d10={'fruites':['Apple','Banana']} # w
d10={'fruites':('Apple','Banana')} # w
{['Apple','Banana']:'fruites'} # Fail
{('Apple','Banana'):'fruites'} # workings

**list as keys fails becuase list has a mutable behavivour**

**tuple as keys works becuase tuple has immutable behaviour**

**in dictionary keys are very very imortant**

**keys does not change so when we apply list is failin**

- If both keys are same it will take the latest value

- Dictionarys does not allow duplicates

- In dictionary keys pays vital rols

- keys can not be duplicate but values can be duplicate

In [2]:
d14={'Fruites':{'Apple':20}} # works
d15={{'Apple':20}:'Fruites'} # Fails

TypeError: unhashable type: 'dict'

In [3]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
# apply min max sum sorted reversed

In [8]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
max(dict1)
dict2={'Apple':20,'apple':30}
max(dict2)
dict3={20:'Apple',30:'Banana',50:'Cherry','Banana':30}
max(dict3)
# [20,30,50,'Banana']

TypeError: '>' not supported between instances of 'str' and 'int'

In [9]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
min(dict1),min(dict2),min(dict3)

('Apple', 'Apple', 20)

In [11]:
list(reversed(dict1))

['Cherry', 'Banana', 'Apple']

In [12]:
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [13]:
len(dict1)

3

In [ ]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
'Apple' in dict1  # T
20 in dict1    # F
'Apple':20 in dict1 # E

In [16]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
'Apple' in dict1
'Banana' in dict1
'Cherry' in dict1

# i in dict1

True

In [17]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

**index**

In [19]:
l1=[10,20,30]
l1[0]

10

In [20]:
str1='python'
str1[0]

'p'

In [22]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
dict1[0]

#'Apple':20 in dict1

KeyError: 0

**how to extract the values**

- in dictionary we have a comcept key:value pair

- keys are very important

- in order to get the values we need to take keys help

In [26]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
dict1['Apple']
dict1['Banana']
dict1['Cherry']

# dict1[i]

10

In [28]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 10

In [29]:
# names=['Ramesh','Suresh','Sathish']
# age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'
names={'Ramesh':20,'Suresh':25,'Sathish':30}
for key in names:
    value=names[key]
    print(f'{key} age is {value}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [ ]:
# range means only numbers will come
# number is not useful its pair

In [31]:
d={'Fruites':['Apple','Banana','Cherry']}
# get cherry
d['Fruites'][2]

'Cherry'

In [41]:
d={'Fruites':{'Apple':['sweet','sour','green']}}
d 
# identify how many key-value pairs
d['Fruites'] # dictionary
d['Fruites']['Apple'] # list
d['Fruites']['Apple'][2]

'green'

In [53]:
d={'Fruites':[{'Cost':[50]}]}
d['Fruites'] # list
d['Fruites'][0] # dict
d['Fruites'][0]['Cost'] # list
d['Fruites'][0]['Cost'][0]

50

In [64]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],
                               '2kg':None}]}
len(d)
len(d['Cost'])
d['Cost'][0]['2kg']
d['Cost'][0]['1kg'][2]

40

In [73]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']#
# do it sets today tomorrow shamabaji

{'Shambaji'}

**how to create an empty dictionary**

- Now onwards focus on creation of empty list , strings  and dictionary

- we will take empty list will use append operation

- we will take empty string will use concatenation

- we will take empty dictionary will use key:value pair concept

In [75]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [77]:
# strings
s=''
s=s+'p'  # ''+'p'
s=s+'y'  # 'p'+'y'='py'
s

'py'

In [79]:
# dictionary
d={}
d['Ramesh']=20
d['Suresh']=25
d['Sathish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [ ]:
d={}
d['Ramesh']=20
d['Suresh']=25
d['Sathish']=30
# d[key]=value
# d[i]=j

**How to convert list to dictionary**

In [81]:
names=['Ramesh','Suresh','Sathish'] # i 
age=[20,25,30] # j
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list

- for dict comprehension we should write everything inside dictionary

In [ ]:
# list comprehension: [<output> <forloop>]
# dict comprehension: {key:value <forloop>}

In [82]:
names=['Ramesh','Suresh','Sathish'] 
age=[20,25,30] 
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**mutable-immutable**

- lists are mutable

- dictionary are also mutable

- strings immutable

- tuple immutable

- in dictionarys we can change the values using keys

In [84]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d['Ramesh']=30
d

{'Ramesh': 30, 'Suresh': 25, 'Sathish': 30}

**methods**

In [85]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear

- copy

- keys

- values

- items

**keys**

In [2]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
keys=d.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [3]:
type(keys)

dict_keys

In [4]:
# i got mistaken im assuming this is list type
keys.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**Convert dictionary to list**

- in order to convert dictionary to list

- first we need to seperate keys and values

- then apply list type casting

In [10]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Sathish']

In [7]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [8]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
items=d.items()
items_list=list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)]

In [12]:
type(keys_list),type(keys)

(list, dict_keys)

In [13]:
keys_list.count('Ramesh')

1

In [ ]:
list === string  using join
string === list  using split
list ==== dict   zip 
dict === list     typecasting

In [6]:
['Ramesh':20]

SyntaxError: invalid syntax (280770841.py, line 1)

In [ ]:
# input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
# output= {'Firstname':['virat','rohit','ms'],
#          'Secondname':['kohli','sharma','dhoni'],
#          'cname':['rcb','mi','csk']}

# idea : first convert string to list
#       from there extract 3 lists
#        1) fname 2) sname  3) cname
#       from 3 lists create dictionary

In [25]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
###################################################
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
######################################################
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

In [ ]:
# today everyone in the class
# take word document
# write only classroom questions
# and show me tomorrow

In [26]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**pop-popitem**

In [28]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.pop('Ramesh')

20

In [29]:
d

{'Suresh': 25, 'Sathish': 30}

In [30]:
l1=['Ramesh','Suresh','Sathish']
l1.remove('Ramesh')
l1

['Suresh', 'Sathish']

In [31]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.popitem()

('Sathish', 30)

In [32]:
d

{'Ramesh': 20, 'Suresh': 25}

In [33]:
l1=['Ramesh','Suresh','Sathish']
l1.pop()
l1

['Ramesh', 'Suresh']

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** in dictionary, similar analogy **pop** in list

**get**

In [35]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.get('Ramesh')

20

In [36]:
d['Ramesh']  # key as an index

20

**update**

- update is similar analogy **list extend**

- take two dictionarys and apply update method

In [38]:
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d2={'Manish': 20, 'Mahesh': 25, 'Saresh': 30}
d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Sathish': 30,
 'Manish': 20,
 'Mahesh': 25,
 'Saresh': 30}

In [40]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l1.extend(l2)
l1

['Ramesh', 'Suresh', 'Sathish', 20, 30, 40]

- **update in dictionary**, similar analogy **list extend**

**setdefault**

- suppose an alreday existed dictionary available

- we can update the dictionary with new key:value pair

In [43]:
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d1.setdefault('Mansih')
d1.setdefault('Mahesh',35)
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Mansih': None, 'Mahesh': 35}

- **setdefault** in dictionary, similar analogy **list append**

- always rember dictionary is a key:value pair concept

- it never involves index opertaions

- thats why we dont have any index or find methods 

- we have get method to extract values using key

**fromkeys**

- create a dictionary with different keys but same value

- fromkeys will take an argument **iterable**

- try to provide an iterator i.e string,list,tuple

In [45]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'NareshIT')

{'Ramesh': 'NareshIT', 'Suresh': 'NareshIT', 'Sathish': 'NareshIT'}

In [46]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** in dictionary, similar analogy **pop** in list

- **update in dictionary**, similar analogy **list extend**

- **setdefault** in dictionary, similar analogy **list append**

- **get** in dictionary, similar analogy **list index**

- list has count , string has count and tuple also has count

    - but dictionarys does not have **count**

    - becuase dictionary does not allow **duplicates**

- strings has find but list does not have

In [ ]:
# take the word document
# basic python codes
# till today dictionary