In [6]:
# sandeep 
# how to find a greaterts number
try:
    num1 = eval(input("Enter a number 1: "))
    num2 = eval(input("Enter a number 2: "))

    if num1 == num2:
        print(f"Both the numbers {num1} and {num2} are equal")
    elif num1 > num2:
        print(f"{num1} is greater than {num2}")
    elif num1 < num2:
        print(f"{num1} is lesser than {num2}")

except Exception as e:
    print(f"You have encountered with an exception: {e}")

Enter a number 1:  34#3
Enter a number 2:  34#4

Both the numbers 34 and 34 are equal

In [11]:
eval('34#344')  # spl charcters you can handle with int

34

In [15]:
str1='the telephone number is 123456'
# i want 123456
# idea: split karo
# then when you split ==== list 

# iterate each letter apply isdigit if it is
# true then then keep in empty string
num=''
for i in str1:
    if i.isdigit():
        num=num+i
print(num)

123456

- Baisc representations

- inbuilt functions

    - type

    - print

    - min

    - max

    - len

    - sum

    - reveresd

    - sorted

- concatenation

- index

- in

- difference between range and in

- mutable vs immutable

- slice

- Methods

**Basic Representations**

- strings elements is in quotes

- List elements is in square brackets

In [16]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [18]:
type(list1)
# for strings ===== str
# we will say strings ==== but type is str
# we will say list ====== type also list

list

In [19]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [20]:
list3=[1,2,3,'A','B','C']
list3

[1, 2, 3, 'A', 'B', 'C']

In [32]:
list1=[1,2,3,4]
list2=['A','B','C']
list3=[1,2,3,'A','B','C']
list4=[10,20,30,'Apple','Banana','Cherry',True,False,10.5,20+30j]
list5=[10,10,10]
list6=[10,20,30,['Apple','Banana']]
list7=[[10]]
name='python'
list8=[name]
list9=[_]
list9

[[[[[[[['python']]]]]]]]

In [33]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
# perform all inbuilt functions
# len max min sum sorted reversed

In [36]:
len(list1),len(list2),len(list3)

(5, 4, 9)

In [39]:
list2=['Apple','APple','Cherry','banana']
#       65,110   6580    97     67       98
min(list1),min(list2)

(2, 'APple')

In [40]:
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
max(list1),max(list2)
# max(list3)

(75, 'banana')

In [44]:
list1=[10,20,2,5,75]
sum(list1)

112

In [45]:
list2=['Apple','apple','Cherry','banana']
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
sorted(list1)

[2, 5, 10, 20, 75]

In [47]:
sorted(list2)

['Apple', 'Cherry', 'apple', 'banana']

In [48]:
sorted(list3) # fail

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
reversed(list1)

In [50]:
# method-1 : apply list
list(reversed(list1))

[75, 5, 2, 20, 10]

In [51]:
# method-2: iterate through for loop
for i in reversed(list1):
    print(i)

75
5
2
20
10

In [52]:
sorted(list1),sorted(list1,reverse=True)

([2, 5, 10, 20, 75], [75, 20, 10, 5, 2])

In [ ]:
# In the interview 
# list1=[10,20,2,5,75]
# Q1) sort the list with out sorted function
# Q2) Find the max value with out max function
# Q3) Find the min value with out min function
# Q4) Reverse the elemnts with out revrsed function
# Q5) Sum the elements with out using sum function
# Q6) Find the second max and second min

**concatenation**

In [53]:
list1=[1,2,3,4]
list2=['A','B','C','D']

list1+list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [55]:
print('python'*2)
print('python'+'python')

pythonpython
pythonpython

In [56]:
print(list1+list1)
print(list1*2)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1*list1  # Fail different error
list1-list1  # Fail unsupposrted operand
list1/lit1   # Fail unsupp

**index**

In [58]:
# -6  -5  -4   -3    -2     -1
# 10  20  30   'A'   'B'   'C'
# 0   1    2    3     4     5
list1=[10,20,30,'A','B','C']
list1[0],list1[-6]

(10, 10)

In [ ]:
# Postive index of 10 is 0
# negative index of 10 is -6
# postive index is 0 and negative index is -6 for 10

In [63]:
list1=[10]
list1[0]
# inside list how many elemnts are there: 1

10

In [66]:
list1=[[10]]
# inside list how many elemnts are there:1
# [10]
list1[0][0]

10

In [68]:
list1=[[10,20]]  # package
len(list1)

1

In [69]:
list1=[[10,20]]
list2=[10,20]
len(list1),len(list2)

(1, 2)

In [70]:
list1=[10,[20]]
# i want 20
len(list1)

2

In [72]:
list1=[10,[20]]
list1[1][0]

20

In [74]:
list1=[10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [75]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1

['A', ['Apple', 'B', ['Banana'], 'C', ['Cherry']]]

In [78]:
list1[1][4][0]

'Cherry'

In [101]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
len(list1) # two elements are there 0,1
len(list1[1]) # three elememts 0,1,2
len(list1[1][2]) # three elements 0,1,2
len(list1[1][2][2]) # three elemnts 0,1,2
list1[1][2][2][2][0]

'Dragon fruite'

In [105]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [110]:
list1=['Orange',['Nagpur',['MH',['Shivaji',['Shamabji',['Viky']]]]]]
list1[1][1][1][1][1][0]

'Viky'

In [120]:
list1=[[[[[[[[['Apple']]]]]]]]]
list1[0][0][0][0][0][0][0][0][0]

'Apple'

In [ ]:
str1='python'
list1=['p','y','t','h','o','n']

len
max
min
rev
sor

In [1]:
#       0   1   2   3   4   5
list1=['p','y','t','h','o','n']
str1='python'

**in**

In [4]:
'p' in str1
'p' in list1

for i in list1:
    print(i)

p
y
t
h
o
n

**range vs in**

- when we have use with index then go for range

- when we have use with only element go for in

**mutable vs immutable**

In [6]:
list1=[100,200,300,400]
list1[0]=20
list1

[20, 200, 300, 400]

**list are mutable**

**slice**

In [ ]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[:]
l1[::]
l1[::-1]
l1[2:10:2]
l1[2:10:-2]
l1[2:-10:2]
l1[-2:10:2]
l1[2:-10-2]
l1[-2:10:-2]
l1[-2:-10:2]
l1[-2:-10:-2]
l1[10:2:2]
l1[10:2:-2]
l1[10:-2:2]
l1[-10:2:-2]
l1[-10:-2:-2]

**methods**

In [ ]:
- if we wants to know the strings method

dir('')

In [7]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

- clear

- copy 

- count

In [8]:
l1=[10,20,30,'A','B','C']
print('l1 before clear i should see the output:',l1)
l1.clear()
print('l1 after apply clear method empty list:',l1)

l1 before clear i should see the output: [10, 20, 30, 'A', 'B', 'C']
l1 after apply clear method empty list: []

In [9]:
l1=[10,20,30,'A','B','C']
l2=l1.copy()
# i just wants to show the difference
print(l1)
print(l2)

[]
[10, 20, 30, 'A', 'B', 'C']

In [10]:
l1=[10,20,30,'A','B','C']
l2=l1

l2

[10, 20, 30, 'A', 'B', 'C']

In [11]:
l11=[10,20,30,'A','B','C']
l22=l11.copy()

l22

[10, 20, 30, 'A', 'B', 'C']

In [13]:
a=10
b=20
c=b
c
d=b+20
d

40

In [14]:
l1=[10,20,30,'A','B','C',10]
l1.count(10)

2

In [15]:
str1='ola ola ola'
str1.count('l')

3

**append**

- append is very very important method in the entire list

- in our life we will use this method very very frequently

- append means adding an elemnt at last

In [17]:
l1=[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [18]:
l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [19]:
l1=[10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [20]:
l1=[10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

**always recall if you see anywhere mutiple values means most of the time we will keep those values in a list**

In [ ]:
l1=[10,20,30]
l1.append('apple')
l1

l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

l1=[10,20,30]
l1.append('apple','banana')
l1

l1=[10,20,30]
l1.append(['apple','banana'])
l1

**append method is used to store the outputs**

In [21]:
# For example i want to append a numbers from 1 to 5
# l=[1,2,3,4,5]

l=[] 
##########################
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)
# l.append(i)
###########################
l

[1, 2, 3, 4, 5]

In [ ]:
l=[]
for i in range(1,6):
    l.append(i)
l

In [22]:
#Q1 wap ask the user enter 3 random numbers
# and perform the square of the numbers , save those squares in a list
import random
for i in range(3):
    num=random.randint(1,100)
    print(num)

93
43
63

In [24]:
import random
l=[]
for i in range(3):
    num=random.randint(1,100)
    l.append(num)
l

[1, 33, 27]

In [26]:
import random
l=[]
for i in range(3):
    num=random.randint(1,100)
    l.append(f'{num}:{num*num}')
l

['61:3721', '44:1936', '50:2500']

In [ ]:
# Q2) i alreday have a list of numbers
#  l=[10,47,53,12,27]
# from above list i want to get a even_list and odd_list
# even_list=[10,12]
# odd_list=[47,53,27]

In [ ]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

# Q7) input = 'hai how are you'
#     output=['HAI','HOW','ARE','YOU']

# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]

# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner'

# Q11) take a string find the most repeated word from string

# Q12) take a string find the longest length of the word from string

# Q13) take a string find the lowest length of the word from string

# Q14) you have some qns list is there
#      also you have answers list also there
#     qns=['who is PM of india',
#       'what is the capital of india', who is ICT MENS captain]
#    ans=['Modi','Delhi','Rohit']
#    whenerver correct answer marks +10
#    print you got total

In [29]:
qns=['who is PM of india','what is the capital of india', 'who is ICT MENS captain']
for i in qns:
    ans=input(i)

who is PM of india modi
what is the capital of india DELHI
who is ICT MENS captain ROHIT

In [3]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']
input=['hyd','bengaluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [4]:
# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']
input=['hyd','bengaluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.upper())
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [8]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']
input=['hyd','ben#galuru','pune','mu#mbai']
# we need the elements which are having #
output=[]
for i in input:
    if '#' in i:
        output.append(i)
output

['ben#galuru', 'mu#mbai']

In [9]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]
input=['hyd','ben#galuru','pune','mu#mbai']
# we need the elements which are not having #
output=[]
for i in input:
    if '#' not in i:
        output.append(i)
output

['hyd', 'pune']

In [13]:
# Q7) input = 'hai how are you'
#     output=['HAI','HOW','ARE','YOU']
input = 'hai how are you'
l=input.split()
output=[]
for i in l:
    output.append(i.upper())
output

['HAI', 'HOW', 'ARE', 'YOU']

In [26]:
# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l=input.split(';')
fname=[]
sname=[]
cname=[]
for i in l:
    print(i)
    id1=i.find('.')
    id2=i.find('@')
    id3=i.find('.',id1+1)
    fname.append(i[:id1])
    sname.append(i[id1+1:id2])
    cname.append(i[id2+1:id3])
fname,sname,cname

virat.kohli@rcb.com
rohit.sharma@mi.com
ms.dhoni@csk.com

(['virat', 'rohit', 'ms'], ['kohli', 'sharma', 'dhoni'], ['rcb', 'mi', 'csk'])

**word frequency**

In [34]:
# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]
input='can canner can you can not canner with you but you can the canner'
l=input.split()
l1=[]
counter=[]
for i in l: # we are getting element from l
    if i not in l1: # that element will present in l1 or not
        counter.append(f"{i}:{l.count(i)}")
        l1.append(i)  # s=s+i
counter

['can:4', 'canner:3', 'you:3', 'not:1', 'with:1', 'but:1', 'the:1']

In [30]:
'can canner can'.count('can')

3

In [38]:
# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner
input='can canner can you can not canner with you but you can the canner'
l=input.split()
stopwords=['not','you','but','with']
output=[]
for i in l:
    if i not in stopwords:
        output.append(i)
output

['can', 'canner', 'can', 'can', 'canner', 'can', 'the', 'canner']

In [39]:
' '.join(output)

'can canner can can canner can the canner'

In [ ]:
# Q11) take a string find the most repeated word from string
input='can canner can you can not canner with you but you can the canner'
['can:4', 'canner:3', 'you:3', 'not:1', 'with:1', 'but:1', 'the:1']
elements=['can','canner','you','not','with','but','the']
counter=[4,3,3,1,1,1,1]
l=input.split()
l1=[]
counter=[]
for i in l: # we are getting element from l
    if i not in l1: # that element will present in l1 or not
        counter.append(f"{i}:{l.count(i)}")
        l1.append(i)  # s=s+i
counter

In [ ]:
str1='can canner can you can not canner with you but you can the canner'
l1=str1.split()
count=0
for i in l1:
    if count < l1.count(i):
        count=l1.count(i)
        letter=i
print(f"most repeated word from string is '{letter}' and its count is {count}")

In [ ]:
# 1 more day time 
# 11-14 qns atleast show me that
# i tried something

In [40]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**extend**

In [42]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [43]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.extend(l1)
l2

# find the diff between append extend concatenation

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [45]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.append(l2)
l1

[1, 2, 3, 4, 5, ['A', 'B', 'C', 'D']]

In [49]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
print(l1+l2)
print(l1)
print(l2)
print('l1 will be overwrite if we use extend')
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
l1 will be overwrite if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

**index**

- strings we have index and find

- but in list we have only index

- same as strings concept

In [52]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i1=l1.index(40)
print(l1.index(40,i1+1))

8

**insert**

- difference between append and insert

In [55]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
# i want insert 100 aftaer apple
id=l1.index('Apple')
l1.insert(id+1,100)
l1

[10, 20, 30, 40, 50, 'Apple', 100, 'Banana', 'Cherry', 40, 50]

In [57]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.append(100)
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50, 100]

**pop vs remove**

In [58]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop()

50

In [59]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.pop(5)
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

In [61]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.remove(40)
l1

[10, 20, 30, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [63]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del(l1[5])
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

- if we want delete any element

- pop : based on index

- remove : based on value

- del is an inbuilt function

In [65]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
print(l1)
del(l1)
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

NameError: name 'l1' is not defined

In [67]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del l1[5]  # del(l1[5])
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

**reverse-reversed**

- reverse is a method

- reveresd is an inbuilt function

In [69]:
l1=[10,20,30,40,50]
l1.reverse()
l1

[50, 40, 30, 20, 10]

**in place**

- when we perform the operations some times the values will not overrite

- if we see **inplace** word or **inplace=True**

- this indicates the output will be overwrite in correponding variable

In [71]:
l1=[10,20,30,40,50]
reversed(l1)
print(l1)

[10, 20, 30, 40, 50]

**sort-sorted**

In [73]:
l1=[20,10,40,30,50]
l1.sort()
l1

[10, 20, 30, 40, 50]

In [74]:
l1=[20,10,40,30,50]
sorted(l1)

[10, 20, 30, 40, 50]

In [75]:
str1='python'
sorted(str1)  # strings lists

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
str1.sort()  # it is not avialble

- inbuilt functions applicable for any datatype

- but methods works wrt data types

- clear

- count

- append/extend/insert

- pop/remove/del

- index

- reverse/reversed

- sort/sorted

In [76]:
# I want every one tuple
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [78]:
#case1
s1='2'
print(s1.isdecimal())
print(s1.isdigit())
print(s1.isnumeric())

True
True
True