In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(20)

10
20

In [4]:
print(10),print(20)

10
20

(None, None)

In [5]:
10,20

(10, 20)

In [6]:
print(a,b)

10 20

In [7]:
print(30,'Nareshit','Hyd')
# 3values

30 Nareshit Hyd

In [17]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 1000 and 200 is 1200

In [22]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old and came from hyd
print("my name is python im 10 years old and came from hyd")
print("my name is name im age years old and came from city")
print("my name is",name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from hyd
my name is name im age years old and came from city
my name is python im 10 years old and came from hyd

**format**

In [24]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from hyd

In [25]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from {}".format(city,age,name))

my name is hyd im 10 years old and came from python

In [27]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200

In [ ]:
# wap take two numbers perform the
# subtraction
# multiplication
# division
# print the statements as follows

# the subtraction of 100 and 200 is -100
# the multiplication of 100 and 200 is 20000
# the division of 100 and 200 is 0.5

In [ ]:
# wap take three number perform the avearage
# a,b,c 
# avg= (a+b+c)/3
# print the statement
# the avge of a,b,c is : avg

**mistake-1**

In [29]:
num1=100
num2=200
print(sub=num1-num2)
# print is used for to see the output

TypeError: 'sub' is an invalid keyword argument for print()

**mistake-2**

In [30]:
num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub.format")

-100

In [33]:
num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

the subtraction of num1 and num2 is sub
the subtraction of 100 and 200 is -100

In [34]:
num1=100
num2=200
mul=num1*num2
print("the multiplication of num1 and num2 is mul")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

the multiplication of num1 and num2 is mul
the multiplication of 100 and 200 is 20000

In [35]:
num1=100
num2=200
div=num1/num2
print("the division of num1 and num2 is div")
print("the division of {} and {} is {}".format(num1,num2,div))

the division of num1 and num2 is div
the division of 100 and 200 is 0.5

In [37]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c,avg))

the average of a,b,c is : avg
the average of 10,20,30 is : 20.0

In [41]:

print("======================ADDITION===========================")
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

print("========================SUBTRACTION===========================")

num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))


print("=======================MULTIPLICATION============================")


num1=100
num2=200
div=num1/num2
print("the division of num1 and num2 is div")
print("the division of {} and {} is {}".format(num1,num2,div))


print("========================DIVISION==========================")

a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c,avg))

======================ADDITION===========================
the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200
========================SUBTRACTION===========================
the subtraction of num1 and num2 is sub
the subtraction of 100 and 200 is -100
=======================MULTIPLICATION============================
the division of num1 and num2 is div
the division of 100 and 200 is 0.5
========================DIVISION==========================
the average of a,b,c is : avg
the average of 10,20,30 is : 20.0

**f string: formatted string method**

In [44]:
num1=1000
num2=200
add=num1+num2

print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200
the addition of 1000 and 200 is 1200

In [48]:
print("the addition of 100 and 200 is 300")

the addition of 100 and 200 is 300

In [46]:
print("the addition of {} and {} is {}",format(num1,num2,add))

TypeError: format expected at most 2 arguments, got 3

In [47]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c))

the average of a,b,c is : avg

IndexError: Replacement index 3 out of range for positional args tuple

In [49]:

print("======================ADDITION===========================")
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")

print("========================SUBTRACTION===========================")

num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))
print(f"the subtraction of {num1} and {num2} is {sub}")

print("=======================MULTIPLICATION============================")


num1=100
num2=200
div=num1/num2
print("the division of num1 and num2 is div")
print("the division of {} and {} is {}".format(num1,num2,div))
print(f"the division of {num1} and {num2} is {div}")


print("========================DIVISION==========================")

a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c,avg))
print(f"the average of {a},{b},{c} is : {avg}")

======================ADDITION===========================
the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200
the addition of 1000 and 200 is 1200
========================SUBTRACTION===========================
the subtraction of num1 and num2 is sub
the subtraction of 100 and 200 is -100
the subtraction of 100 and 200 is -100
=======================MULTIPLICATION============================
the division of num1 and num2 is div
the division of 100 and 200 is 0.5
the division of 100 and 200 is 0.5
========================DIVISION==========================
the average of a,b,c is : avg
the average of 10,20,30 is : 20.0
the average of 10,20,30 is : 20.0

In [50]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(avg)

20.333333333333332

**round**

In [52]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

# CTRL+A 
# CTRL+/

In [53]:
round(10.77777)  # 10.7 ===> 11
# 79.7  80

11

In [54]:
round(10.77777,2)

10.78

In [55]:
round(10.77777,3)

10.778

In [56]:
print(round(10.77777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [64]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,2)
print(avg1)
print(round(avg,2))

20.33
20.33

In [58]:
round(10.778,2)

10.78

**I have multiple print statements**
**but i want to show in single line**

In [65]:
print(10)
print(20)

10
20

In [67]:
10,20

(10, 20)

In [68]:
print(10,20)

10 20

**end**

In [73]:
print(10,end="====>")
print(20)

10====>20

In [75]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [81]:
print('hello',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you')

hello how are you

In [82]:
print('hello how are you')

hello how are you

1 2 3 4 5 6 7 8 9

**i have multiple values in a single print statement**

**i want print them with some seperation**

In [85]:
print(10,20,30)
# 10 ===> 20 ====> 30

10 20 30

**sep**

In [91]:
print(10,20,30,sep='====>')

10====>20====>30

- basic print statement

- we learn format method

- we learn f string method

- we learn round

- we learn end operator

- we learn sep operator

In [ ]:
# wap take the radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

# wap take the breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formuale

# wap take the length and breadth of a rectangle calculate area
# var1: length  var2: breadth
# formulae: length * breadth