In [1]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'

In [2]:
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**zip**

In [6]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [9]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(j)

20
25
30

In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]

**Dictionary**

- in above example names and age both are together

- when both are together we can pair them

- This can happen using Dictionary

- Dictionary is calles as **key-value** pair

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair : {'Ramesh':20}

In [11]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [12]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [27]:
# start your imaginzation make a dictionary with many ways
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d3={'Ramesh':'20','Suresh':'25','Sathish':30}
d4={'20':'Ramesh','25':'Suresh',30:'Sathish'}
d5={'Ramesh':20,'Ramesh':30}
# If both keys are same it will take the latest value
# Dictionarys kind database
d6={'Ramesh':20,'Ramesh':20}
# Dictionarys does not allow duplicates
d7={'Ramesh':20,'Suresh':20}
# In dictionary keys pays vital rols
# keys can not be duplicate but values can be duplicate
d8={20:'Ramesh',20:'Suresh'}
d9={True:'true'}
d10={'fruites':['Apple','Banana']} # list is value
#d11={['Apple','Banana']:'fruites'} # list is key
d12={'fruites':('Apple','Banana')} # list is value
d13={('Apple','Banana'):'fruites'} # list is key
d13

{('Apple', 'Banana'): 'fruites'}

In [ ]:
d10={'fruites':['Apple','Banana']} # w
d10={'fruites':('Apple','Banana')} # w
{['Apple','Banana']:'fruites'} # Fail
{('Apple','Banana'):'fruites'} # workings

**list as keys fails becuase list has a mutable behavivour**

**tuple as keys works becuase tuple has immutable behaviour**

**in dictionary keys are very very imortant**

**keys does not change so when we apply list is failin**